.contact {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 20px;
}

.contact img {
    width: 30px;
}

.means-of-contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}

.means-of-contact li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: .2s;
}

.means-of-contact svg {
    width: 30px;
    height: 30px;
    transition: .2s;
}

.means-of-contact a {
    fill: var(--secondary-text-color);
    transition: .2;
}

.means-of-contact li a:hover {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    transition: .2s;
}