

.laboratory-items {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
}

.laboratory-item {
    background-color: var(--secondary-color);
    width: 6vw;
    height: 7vw;
    position: relative;
    padding: 10px;
}

.laboratory-item::before {
    content: "";
    background-color: var(--accent-color);
    width: 80%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    right: 10%;
    top: -3px;
    z-index: -1;
}


@media (max-width: 900px) {
    .laboratory-items {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .laboratory-item {
        width: 18vw;
        height: 19vw;
        font-size: .8rem;
    }
}