
.skills-list {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills-list img {
    width: calc(8vw + 20px);
}

@media (max-width: 900px) {
    .skills-list {
        font-size: .9rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .skills-list img {
        width: 19vw;
    }
}
