
.skills-list {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills-list img {
    width: 70px;
}

@media (max-width: 900px) {
    .skills-list {
        gap: 20px;
        font-size: .9rem;
    }
    .skills-list img {
        width: 40px;
    }
}