.container-two {
    padding: 20px 50px 0px;
    width: 40vw;
    background-color: var(--primary-color);
    margin: 0px 12vh 0px 0px;
    min-height: 87vh;
    max-height: 100vh;
    border-radius: 7px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.185);
    transition: .7s;
    position: absolute;
    top: 0px;
    right: 0px;
}

h2 {
    text-align: center;
    margin: 30px;
}

[data-main-container="false"] {
    filter: blur(1px);
}

[data-main-container="true"] {
    z-index: 1;
}

@media (max-width: 900px) {
    .container-two {
        position: relative;
        margin: auto;
        height: auto;
        width: 80%;
        padding-bottom: 50px;
    }
    .container-one{
        margin: auto;
        height: auto;
        width: 80%;
        position: relative;
        margin-bottom: 20px;

    }
    [data-main-container="false"] {
        filter: none;
    }
}