.container-one {
    padding: 20px 50px 0px;
    width: 40vw;
    background-color: var(--primary-color);
    margin: 10vh 0px 0% 20vh;
    height: 87vh;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.185);
    transition: .7s;
}

[data-main-container="false"] {
    filter: blur(1px);
}

[data-main-container="true"] {
    z-index: 1;
}