/* Cores principais */
:root {
    --accent-color: #73ece5;
    --primary-color: #202632;
    --secondary-color: #2b3443;

    --primary-text-color: white;
    --secondary-text-color: #797f8d;
}

/* Definições Globais */

body {
    margin: 0;
    color: var(--secondary-text-color);
}

h1, h2 {
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    color: unset
}

.background {
    background-color: var(--secondary-color);
    width: 100vw;
    height: 100vh;
}