

.laboratory-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    z-index: 0;
}

.laboratory-item {
    background-color: var(--secondary-color);
    width: 180px;
    height: 190px;
    position: relative;
    padding: 20px;
}

.laboratory-item::before {
    content: "";
    background-color: var(--accent-color);
    width: 80%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: -3px;
    z-index: -1;
}